<!-- This is the landing page -->
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1>Habit Tracker
                <br />
                <img src="https://img.freepik.com/free-vector/build-your-program-appointment-booking_23-2148552954.jpg?w=740&t=st=1686141497~exp=1686142097~hmac=1086b72a4485ba13e5bc912e513b3dfa6ba9141c960e3249ba947724e9011834" alt="Making Habits!" width="20%" />
            </h1>
            <!-- Option to register or log-in -->
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>